<html>
  <head>
    <title>Chat Bot for Slack Privacy Policy</title>
  </head>
  <body>
    <h1>Privacy Policy</h1>
    <p>
      We ("Chat Bot for Slack") do not collect or store any of your personal information.
    </p>
    <p>
      When you link your account, you will be directed to a page from <a href="http://www.slack.com">Slack</a> to link your Amazon account with your Slack account. Refer to <a href="https://slack.com/policies">Slack's policies</a> for privacy information about what they collect.
    </p>
    <p>
      Once your accounts are linked, the necessary OAuth token is stored by Amazon. We never store any of your information.
    </p>
  </body>
</html>

